.weather-container {
    width: 350px;
    border-radius: 5px;
    background-color: #d3ecf4;
    margin: 20px auto;
    padding: 0 1rem 1rem;
}
.top, .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.city {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 1px;
}
.weather-icon {
    width: 100px;
}
.bottom {
    gap: 4rem;
}
.temp {
    font-weight: 600;
    font-size: 4rem;
    width: auto;
    letter-spacing: -2px;
    display: flex;
}
.details {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.parameter-row {
    display: flex;
    justify-content: space-between;
}
.parameter-label, .parameter-value {
    font-size: 1rem;
}
.parameter-value {
    font-weight: 600;
}