* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search-bar {
  margin: 2rem 8rem;
}


@media screen and (max-width: 1250px) {
  .search-bar {
    margin: 2rem 4rem;
  }
}

@media screen and (max-width: 780px) {
  .search-bar {
    margin: 2rem;
  }
}